body {
    margin-top: 50px
}

a:hover, a:focus {
    text-decoration: none;
}

.boxicon, .boxicon.active.passive {
    padding: 7px 8px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: 0.25s;
    color: #ccc;
    cursor: default;
}

#selectAll.boxicon, .boxicon.active {
    color: #2a6496;
    border-color: #2a6496;
    cursor: pointer;
}

.boxicon:hover, .boxicon.active.passive:hover {
    color: #ccc !important;
    border-color: #ccc !important;
}

#selectAll.boxicon:hover, .boxicon.active:hover {
    color: #444 !important;
    border-color: #444 !important;
}

#wrapper {
    padding-left: 0
}

#page-wrapper {
    width: 100%;
    padding: 0
}

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
    display: block
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px
}

.messages-dropdown .dropdown-menu .message-preview .name {
    font-weight: 700
}

.messages-dropdown .dropdown-menu .message-preview .message {
    font-size: 12px
}

.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 12px
}

.announcement-heading {
    font-size: 50px;
    margin: 0
}

.announcement-text {
    margin: 0
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 10px;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #ededed;
}

.table {
    margin-top: 8px !important;
    margin-bottom: 20px !important;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.table thead, .table tfoot {
    font-size: 13px;
    font-weight: bold;
}

.table tr:hover {
    cursor: pointer;
}

.table tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.table td a.fileLink {
    color: #428bca!important
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222
    }
    .side-nav>li>a {
        width: 225px
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000!important
    }
}

.side-nav>li>ul {
    padding: 0
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999
}

.side-nav>li>ul>li>a:hover {
    color: #fff
}

.side-nav>li>ul>li>a:before {
    content: "-";
    padding-right: 6px
}

.flot-chart {
    display: block;
    height: 400px
}

.flot-chart-content {
    width: 100%;
    height: 100%
}

.alert-info {
    margin-top: 12px;
    padding: 8px
}

.alert-info span {
    font-weight: 700
}

.alert-info span.valid {
    color: #070
}

.alert-info span.wrong {
    color: red
}

#wrapper {
    padding-left: 225px
}
#page-wrapper {
    padding: 0
}
.side-nav {
    margin-left: -225px;
    padding-bottom: 40px;
    left: 225px;
    width: 225px;
    position: fixed;
    top: 50px;
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: #222;
    overflow-y: auto
}
.module_title {
    width: 100%;
    background: #f8f8f8;
    padding: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 4px
}
.selectBox-div {
    margin-top: 3px;
    margin-right: 4px;
    border: 1px solid #ccc;
    padding-left: 9px;
    padding-top: 6px;
    height: 30px;
    width: 30px;
    border-radius: 4px
}
.selectBox-div:hover {
    border: 1px solid #4a8bc2
}
.fieldset {
    display: block;
    padding: 10px;
    border-bottom: 1px dotted #C1C1C1
}
.fieldset > label {
    display: block;
    width: 17%;
    float: left;
    font-weight: 400;
    margin-top: 12px
}
.fieldset label.full {
    margin-top: 3px;
    width: 83%
}
.alert.help {
    width: 83%;
    margin-left: 17%;
    margin-top: 45px;
    clear: both;
}
.fieldset label.radioLabel {
    margin-right: 10px
}
ol.breadcrumb + .fieldset {
    padding-top: 0
}
.tab-pane > .fieldset:last-child {
    border-bottom: none
}
form {
    margin-bottom: 30px;
}
form#recordListForm {
    position: relative;
}

.fileinput-button {
    position: relative;
    overflow: hidden
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    font-size: 200px;
    direction: ltr;
    cursor: pointer
}
.gallery-div {
    padding: 40px;
    margin: 20px;
    position: relative;
    border: 1px #ccc dashed
}
ul.gallery-list {
    list-style-type: none;
    margin: 0;
    padding: 0
}
ul.gallery-list li {
    width: 110px;
    height: 110px;
    overflow: hidden;
    cursor: move;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative
}
ul.gallery-list li p {
    margin: 0;
    padding: 0
}
ul.gallery-list li img.handle {
    width: 100%
}
ul.gallery-list li .tools {
    display: none
}
ul.gallery-list li .name {
    font-size: 10px
}
ul.gallery-list li:hover > .tools {
    display: block
}
#dropzone {
    padding: 40px;
    margin: 20px;
    position: relative;
    background: #f9f9f9;
    border: 1px #ccc dashed
}
#dropzone.in {
    border: 1px #999 dashed;
    background: #f2f2f2
}
.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden
}
.clearfix:after {
    clear: both
}
.clearfix {
    zoom: 1
}
.clear {
    clear: both
}
.side-nav > li.dropdown > ul.dropdown-menu {
    position: relative;
    min-width: 225px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none
}
.side-nav > li.dropdown > ul.dropdown-menu > li > a {
    color: #999;
    padding: 15px 15px 15px 25px
}
.side-nav > li.dropdown > ul.dropdown-menu > li > a:hover,
.side-nav > li.dropdown > ul.dropdown-menu > li > a.active,
.side-nav > li.dropdown > ul.dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #080808
}
ul.collapse > li.active a {
    color: #fff;
    background-color: #121212
}
.side-nav > li > a {
    width: 225px;
    font-size: 14px
}
.side-nav > li > a .fa {
    font-size: 15px
}
.side-nav li a span.withIcon {
    padding-left: 3px
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #080808
}
.messages-dropdown .dropdown-menu {
    min-width: 300px
}
.messages-dropdown .dropdown-menu li a {
    white-space: normal
}
.navbar-collapse {
    padding-left: 15px!important;
    padding-right: 15px!important
}

@media screen and (max-width: 767px) {
    .gallery-list li {
        margin-right: 10px
    }
}

.fileinput-button input {
    text-indent: -9999px
}

.progress {
    margin-top: 10px
}

ul.gallery-list {
    list-style-type: none;
    padding: 10px
}

ul.gallery-list li {
    position: relative;
    display: inline-block
}

ul.gallery-list li .tools {
    cursor: default;
    text-align: center;
    padding: 6px;
    position: absolute;
    opacity: .8;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px
}

ul.gallery-list li .tools a {
    margin: 4px;
    margin-top: 2px;
    font-size: 15px;
    color: #fff
}

#pagination.admin-pagination {
    margin-bottom: 30px;
    text-align: center;
}

#pagination.admin-pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block
}

#pagination.admin-pagination ul li {
    margin: 0 2.5px;
    float: left
}

#pagination.admin-pagination ul li.active a {
    border-color: #428bca;
    background: #428bca;
    color: #fff
}

#pagination.admin-pagination ul li a {
    margin: 3px 1px;
    padding: 5px 10px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    display: block
}

.admin-search {
    margin-bottom: 0;
    overflow: hidden
}

.admin-search input[type="search"] {
    margin-right: 4px
}

.admin-search input[type="search"],
.admin-search input[type="submit"] {
    display: block;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out .15s;
    float: left;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important
}

.admin-search input[type="search"]:focus,
.admin-search input[type="submit"]:focus {
    outline: none!important
}

.admin-search input[type="submit"] {
    background: #428bca;
    border-color: #428bca;
    color: #fff
}

.admin-search input[type="submit"]:hover {
    background: #3276B3;
    border-color: #3276B3;
    color: #fff
}

.fieldset input.date {
    width: 180px;
}

.fieldset input.time {
    width: 110px;
    text-align: center;
}

.fieldset .fileSelect {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.fieldset .fileSelect input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none
}

.fieldset .fileSelect a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 34px;
    border: none
}

.fieldset .fileSelect a:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-order: -1;
    -ms-flex-order: -1;
    order: -1
}

.fieldset .fileSelect a:last-of-type:not(:first-of-type) {
    margin-left: 10px
}

.fieldset .fileSelect a:last-of-type i {
    padding-right: 0
}


/* Datepickers */
.start,
.end {
    float: left;
}

.start {
    margin-right: 10px;
}


/* Metaboxes */

.metabox {
    padding-left: 0;
    list-style-type: none;
}

.metabox_alert {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-transition: .2s;
    transition: .2s;
}

.metabox_alert:not(.active) {
    opacity: 0;
    visibility: hidden;
}

.metabox_alert_inner {
    width: 400px;
    padding: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.metabox_alert_title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.metabox_alert_buttons {
    text-align: center;
}

.metabox_alert_yes,
.metabox_alert_no {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    color: #fff;
}

.metabox_alert_yes:hover,
.metabox_alert_no:hover,
.metabox_alert_yes:focus,
.metabox_alert_no:focus,
.metabox_alert_yes:active,
.metabox_alert_no:active {
    color: #fff;
    text-decoration: none;
}

.metabox_alert_yes {
    margin-right: 5px;
    background: #d9534f;
}

.metabox_alert_no {
    background: #357ebd;
}

.metabox_group {
    background: rgba(240, 240, 240, .5);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.metabox_group:not(:first-child) {
    margin-top: 10px;
}

.metabox_group > .fieldset {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.metabox_trigger {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    cursor: pointer;
}

.metabox_trigger.active::after {
    margin-top: 3px;
    -webkit-transform: translate(0, -50%) rotate(-135deg);
    transform: translate(0, -50%) rotate(-135deg);
}

.metabox_trigger::after {
    width: 14px;
    height: 14px;
    margin-top: -3px;
    border-width: 0 2px 2px 0;
    border-color: #000;
    border-style: solid;
    content: "";
    position: absolute;
    right: 18px;
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg);
}

.dynamicContainer {
    margin: 10px;
    border: 1px solid rgb(164, 185, 185);
    box-shadow: 0 0 3px rgba(164, 185, 185, .75);
}

.dynamic_fieldset {
    position: relative;
    background: rgb(233, 239, 239);
}

.dynamic_fieldset:not(:first-child) {
    margin-top: 12px;
}

.dynamic_fieldset .fieldset label.full {
    padding-right: 40px;
}

.dynamic_fieldset_append {
    width: 34px;
    height: 34px;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    border-radius: 5px;
    top: 13px;
    right: 10px;
    cursor: pointer;
}

.dynamic_fieldset_append.delete::after {
    display: none;
}

.dynamic_fieldset_append::before {
    width: 12px;
    height: 3px;
}

.dynamic_fieldset_append::after {
    width: 3px;
    height: 12px;
}

.dynamic_fieldset_append::before,
.dynamic_fieldset_append::after {
    background: #000;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#rec_status {
    margin-right: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#rec_status a {
    line-height: 30px;
    margin-left: 25px;
    font-size: 13px;
    color: #333;
}

#rec_status a.active {
    color: #428bca;
}

#rec_status a:active, #rec_status a:hover, #rec_status a:visited {
    text-decoration: none !important;
}

form#selectedRecordListForm {
    display: none;
}

ul.metabox li {
    padding-bottom: 10px;
}

/* Diolog Modal */
details {
    margin-left: 25px;
}

details ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

details form {
    width: 100%;
    margin-bottom: 0;
}


details summary {
    transition: .4s;
    animation: fade-in .4s ease-in-out;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary:hover {
    background-color: darken(#3aaf38, 10%);
}

details[open] summary::before {
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    z-index: 99;
}

details[open] div.my-modal {
    display: flex;
}

details[open] > div > iframe {
    display: block;
}

details > div.my-modal {
    width: auto;
    min-width: 400px;
    padding: 40px;
    max-width: 90vw;
    max-height: 80vh;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #f1f1f1;
    display: none;
}

.my-modal-bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

details .form-control {
    max-width: 200px;
}

div.mce-fullscreen {
    position: absolute !important;
    z-index: 9999 !important;
}